main {
    text-align: center;
}

.tabuleiro div input {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgb(66, 200, 253);
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

.containerPersonagens div input{
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgb(66, 200, 253);
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: lightskyblue;
}

h1 {
    font-size: 3rem;
    font-variant: small-caps;
    color: white;
}

.velha{
    position: fixed;
    width: 500px;
    top: 300px;

}
.personagem{
    position: fixed;
    right: 0;
    width: 500px;
    top: 300px;

}